@import url('style.css');

/********************* Contact Container *********************/
.contact-Form-Container {
    padding: 0.5rem 1rem 1.5rem;
    margin: 10% auto 0 auto;
    background-color: rgba(128, 128, 128, 0.2);
    box-sizing: border-box;
    border-radius: 10px;
    width: 90%;
    display: flex;
    flex-direction: column;
}

input:not([type="radio"]),
textarea {
    width: 100%;
    /* ความกว้าง */
}

input:not([type="radio"]) {
    height: 35px;
    /* ความสูง */
}

.name-Form,
.email-Form,
.description-Form,
.phone-Form,
.selectshow-Form {
    padding: 0.5rem 0;
}

.name-Form label,
.email-Form label,
.description-Form label,
.phone-Form label,
.selectshow-Form label {
    font-size: 18px;
    color: var(--text-color);
}

.selectshow-Form .selectshow-Selection select {
    width: 75%;
    height: 35px;
    font-size: 15px;
}

.selectshow-Form .selectshow-Radio {
    display: none;
}


.submit-Form button {
    padding: 0.25rem 0.5rem;
    width: 100%;
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    margin-top: 2.5%;
    font-size: 20px;
    background: none;
    color: var(--text-color);
}

.contact-Chat-Container,
.contact-Chat-Button {
    display: none;
}


/* .facebook_InfoButton:hover,
.gmail_InfoButton:hover,
.whatapps_InfoButton:hover {
    cursor: pointer;
    color: var(--primary-color);
    font-size: x-large;
}

.facebook_InfoButton:hover .facebook_InfoIcon,
.gmail_InfoButton:hover .gmail_InfoIcon,
.whatapps_InfoButton:hover .whatapps_InfoIcon {
    width: 45px;
    height: 45px;
} */

/************************ Tablet Responsive ************************/
@media only screen and (min-width: 768px) and (max-width: 1023px) {

    /********************* Contact Container *********************/
    .contact-Form-Container {
        padding: 0.5rem 1rem 1.5rem;
        margin: 10% auto 0 auto;
        background-color: rgba(128, 128, 128, 0.2);
        box-sizing: border-box;
        border-radius: 10px;
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .name-Form label,
    .email-Form label,
    .description-Form label,
    .phone-Form label,
    .selectshow-Form label {
        font-size: 24px;
    }

    .selectshow-Form .selectshow-Selection select {
        display: none;
    }

    .selectshow-Form .selectshow-Radio {
        display: inline-block;
        padding: 0 10px 0 10px;
    }

    .selectshow-Form .selectshow-Radio label {
        padding: 0 10px 0 10px;
    }

    .submit-Form button {
        padding: 0.5rem 0.1rem;
        width: 150px;
        font-size: 22px;
    }

    .contact-Chat-Container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 50%;
        height: 100%;
        padding: 0 2rem;
    }

    .contact-Chat-Topic {
        display: flex;

    }

    .contact-Chat-Topic span {
        font-size: 30px;
        color: var(--text-color);
    }

    .contact-Chat-Button {
        display: flex;
        flex-direction: column;
        /* padding: 0 0.5rem; */
    }

    .contact-Chat-Button a {
        color: var(--text-color);
        font-size: 22px;
        margin: 0.5rem;
        text-decoration: none;
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .contact-Chat-Button img {
        width: 45px;
        height: 45px;
    }

    /* .facebook_InfoButton:hover,
.gmail_InfoButton:hover,
.whatapps_InfoButton:hover {
    cursor: pointer;
    color: var(--primary-color);
    font-size: x-large;
}

.facebook_InfoButton:hover .facebook_InfoIcon,
.gmail_InfoButton:hover .gmail_InfoIcon,
.whatapps_InfoButton:hover .whatapps_InfoIcon {
    width: 45px;
    height: 45px;
} */
}

/*********************** Small desktops/laptops ***********************/
@media only screen and (min-width: 1024px) and (max-width: 1279px) {}

/*********************** Large desktops ***********************/
@media only screen and (min-width: 1280px) {}