@import url('style.css');

/*********************** Smartphone ***********************/
/******************************** Header ********************************/
.head-Name-Container {
    margin-top: 5%;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
    color: var(--text-color);
}

.head-Name-Container::before {
    background-image: url('../images/fire_3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0.5;
    z-index: 0;
}

.head-Name-Container>* {
    position: relative;
    z-index: 1;
}

.logo-Topic-Container {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.logo-Topic-Container img {
    width: 175px;
    height: auto;
    object-fit: cover;
}

.topic-Pic-Container img {
    display: none;
}

.head-Name-Container p {
    margin-top: 7.5%;
    width: 100%;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    color: var(--text-color);
    line-height: 0.5;
}

.head-Name-Container span {
    font-size: 24px;
    color: var(--text-color);
    font-weight: normal;
    line-height: 0.1;
}

/******************************** Story IGNIS ********************************/
.story-Container {
    margin-top: 10%;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.first-Story {
    font-size: 20px;
    width: 100%;
    color: var(--text-color);
    line-height: 1.5;
    text-indent: 10%;
    text-align: justify;
}

.first-Story span {
    font-weight: bold;
    font-size: 30px;
    color: var(--primary-color);
}

.first-Story-Pic {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.second-Story {
    margin-top: 5%;
    font-size: 22px;
    width: 100%;
    color: var(--text-color);
    line-height: 1.5;
    text-indent: 10%;
    text-align: justify;
}

.second-Story-Pic {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-Story-Pic img,
.second-Story-Pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/******************************** FFQ Content ********************************/
.ffq-Container {
    margin-top: 20%;
    padding: 0 1.5rem;
    width: 100%;
    height: auto;
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headTopic-FFQ h1 {
    color: var(--text-color);
}

.intro-FFQ {
    margin-top: 1.5%;
}

.intro-FFQ p {
    color: var(--text-color);
    font-size: 20px;
    text-align: center;
}

.content-FFQ {
    width: 100%;
}

.paragraph-Flexible,
.paragraph-Friendly,
.paragraph-Quality {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}

.topic-Flexible,
.topic-Friendly,
.topic-Quality {
    margin-top: 2.5%;
    text-align: center;
    color: var(--primary-color);
}

.story-Flexible,
.story-Friendly,
.story-Quality {
    font-size: 20px;
    text-align: center;
    color: var(--text-color);
}

.outro-FFQ {
    margin-top: 5%;
    font-size: 20px;
    text-align: center;
    color: var(--text-color);
}

/******************************** 2 Type, 4 Theme ********************************/
.twoType-Container {
    padding: 0 1.5rem;
    margin-top: 20%;
    width: 100%;
}

.twoType-Topic h1 {
    text-align: center;
    color: var(--text-color);
}

.twoType-Content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fire-Twotype-Pic,
.pixellight-Twotype-Pic {
    margin-top: 5%;
}

.fire-Twotype-Pic img,
.pixellight-Twotype-Pic img {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.fire-Twotype-Topic,
.pixellight-Twotype-Topic {
    margin-top: 2.5%;
}

.fire-Twotype-Topic h2,
.pixellight-Twotype-Topic h2 {
    font-weight: bold;
    line-height: 1;
    color: var(--primary-color);
}

.fire-Twotype-Paragraph,
.pixellight-Twotype-Paragraph {
    margin-top: 2.5%;
    font-size: 18px;
}

.fire-Twotype-Paragraph p,
.pixellight-Twotype-Paragraph p {
    color: var(--text-color);
}


/******************************** Customers ********************************/
.customers-Container {
    margin-top: 20%;
    width: 100%;
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.customers-Topic h1 {
    color: var(--text-color);
}

.customers-Pic-Container {
    margin-top: 2%;
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

.customers-Pic-Slider {
    display: flex;
    width: calc(500%);
    /* 2 เท่าของ container */
    animation: scroll-left 20s linear infinite;
}

.customers-Pic-Slider img {
    width: 250%;
    /* กว้างเท่ากับ container */
    height: 100%;
    object-fit: contain;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-250%);
        /* เลื่อนเท่ากับความกว้างของภาพเดียว */
    }
}


/*********************** Tablets ***********************/
@media only screen and (min-width: 768px) and (max-width: 1023px) {

    /******************************** Header ********************************/
    .head-Name-Container {
        margin-top: 10%;
        height: 400px;
    }

    .logo-Topic-Container {
        margin-top: 3%;
    }

    .logo-Topic-Container img {
        width: 200px;
    }

    .topic-Pic-Container img {
        display: none;
    }

    .head-Name-Container p {
        font-size: 70px;
    }

    .head-Name-Container span {
        font-size: 26px;
    }

    /******************************** Story IGNIS ********************************/
    .story-Container {
        padding: 0 2rem;
    }

    .first-Story {
        font-size: 22px;
    }

    .first-Story span {
        font-size: 34px;
    }

    .first-Story-Pic {
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .second-Story {
        font-size: 24px;
        margin-top: 10%;
    }

    .second-Story-Pic {
        margin-top: 10%;
    }

    .first-Story-Pic img,
    .second-Story-Pic img {
        margin: 0 2rem;
        width: 500px;
        height: 330px;

    }

    /******************************** FFQ Content ********************************/
    .ffq-Container {
        margin-top: 10%;
        padding: 0 2rem;
    }

    .headTopic-FFQ h1 {
        color: var(--text-color);
    }

    .intro-FFQ {
        margin-top: 1%;
    }

    .intro-FFQ p {
        font-size: 24px;
    }

    .content-FFQ {
        margin-top: 3%;
    }

    .topic-Flexible,
    .topic-Friendly,
    .topic-Quality {
        margin-top: 2%;
        font-size: 24px;
    }

    .story-Flexible,
    .story-Friendly,
    .story-Quality {
        font-size: 24px;
        text-align: center;
        color: var(--text-color);
    }

    .outro-FFQ {
        margin-top: 5%;
        font-size: 24px;
        text-align: center;
        color: var(--text-color);
    }

    /******************************** 2 Type, 4 Theme ********************************/
    .twoType-Container {
        margin-top: 10%;
    }

    .fire-Twotype-Pic,
    .pixellight-Twotype-Pic {
        margin-top: 7.5%;
    }

    .fire-Twotype-Pic img,
    .pixellight-Twotype-Pic img {
        width: 400px;
        height: 280px;
        object-fit: cover;
    }

    .fire-Twotype-Topic h2,
    .pixellight-Twotype-Topic h2 {
        font-size: 32px;
    }

    .fire-Twotype-Paragraph,
    .pixellight-Twotype-Paragraph {
        margin-top: 2%;
        font-size: 24px;
    }

    /******************************** Customers ********************************/
    .customers-Container {
        margin-top: 10%;
    }

    .customers-Topic h1 {
        color: var(--text-color);
        font-size: 32px;
    }

    .customers-Pic-Container {
        margin-top: 2.5%;
    }

    .customers-Pic-Slider {
        display: flex;
        width: calc(400%);
        /* 2 เท่าของ container */
        animation: scroll-left 20s linear infinite;
    }

    .customers-Pic-Slider img {
        width: 200%;
        /* กว้างเท่ากับ container */
    }

    @keyframes scroll-left {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-200%);
            /* เลื่อนเท่ากับความกว้างของภาพเดียว */
        }
    }
}

/*********************** Small desktops/laptops ***********************/
@media only screen and (min-width: 1024px) and (max-width: 1279px) {

    /******************************** Header ********************************/
    .head-Name-Container {
        margin-top: 5%;
        width: 100%;
        flex-direction: row;
    }

    .head-Name-Container p {
        font-size: 80px;
        padding: 0 0 2.5rem 3rem;
        text-align: left;
        justify-content: center;
    }

    .head-Name-Container span {
        font-size: 28px;
    }

    .logo-Topic-Container {
        display: none;
    }

    .head-Name-Container::before {
        display: none;
    }

    .topic-Pic-Container img {
        display: inline-block;
        width: 550px;
        object-fit: cover;
    }

    /******************************** Story IGNIS ********************************/
    .story-Container {
        margin-top: 10%;
        padding: 0 3rem;
        width: 100%;
    }

    .first-Story span {
        font-size: 50px;
    }

    .first-Story p,
    .second-Story p {
        font-size: 28px;
    }

    .second-Story p {
        margin-top: 5%;
    }

    .first-Story-Pic img,
    .second-Story-Pic img {
        margin-top: 5%;
        width: 700px;
        height: 420px;
        object-fit: cover;
        border: 1px solid var(--text-color);
    }

    /******************************** FFQ Content ********************************/
    .ffq-Container {
        margin-top: 10%;
        padding: 0 3rem;
        width: 100%;
    }

    .headTopic-FFQ h1 {
        font-size: 50px;
    }

    .intro-FFQ {
        margin-top: 2%
    }

    .intro-FFQ p {
        font-size: 28px;
    }

    .content-FFQ {
        width: 100%;
        margin-top: 5%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;
    }

    .paragraph-Flexible,
    .paragraph-Friendly,
    .paragraph-Quality {
        justify-content: flex-start;
        width: 100%;
    }

    .topic-Flexible,
    .topic-Friendly,
    .topic-Quality {
        font-size: 28px;
    }

    .story-Flexible,
    .story-Friendly,
    .story-Quality {
        font-size: 28px;
    }

    .outro-FFQ {
        margin-top: 5%;
        font-size: 28px;
    }

    /******************************** 2 Type, 4 Theme ********************************/
    .twoType-Container {
        margin-top: 10%;
        padding: 0 3rem;
        width: 100%;
        height: auto;
    }

    .twoType-Topic h1 {
        font-size: 50px;
    }

    .twoType-Content {
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
    }

    .fire-Twotype-Pic,
    .pixellight-Twotype-Pic {
        margin-top: 5%;
    }

    .fire-Twotype-Pic img,
    .pixellight-Twotype-Pic img {
        width: 400px;
        height: 280px;
        object-fit: cover;
    }

    .fire-Twotype-Topic h2,
    .pixellight-Twotype-Topic h2 {
        font-size: 32px;
    }

    .fire-Twotype-Paragraph,
    .pixellight-Twotype-Paragraph {
        font-size: 28px;
    }

    /******************************** Customers ********************************/
    .customers-Container {
        margin-top: 10%;
        width: 100%;
    }

    .customers-Topic h1 {
        font-size: 50px;
    }

    .customers-Pic-Container {
        margin-top: 2.5%;
    }

    .customers-Pic-Slider {
        display: flex;
        width: calc(300%);
        /* 2 เท่าของ container */
        animation: scroll-left 20s linear infinite;
    }

    .customers-Pic-Slider img {
        width: 150%;
        /* กว้างเท่ากับ container */
    }

    @keyframes scroll-left {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-150%);
            /* เลื่อนเท่ากับความกว้างของภาพเดียว */
        }
    }
}

/*********************** Large desktops ***********************/
@media only screen and (min-width: 1280px) {}