@import url('style.css');

/******************************** Header ********************************/
.container-header {
    width: 100%;
    margin: 5% 0 auto 0;
    position: relative;
}

.col-topic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.topic-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.head-name {
    font-size: 100px;
    font-weight: bold;
    line-height: 0.8;
    color: var(--text-color);
}

.sub-name {
    font-size: 32px;
    color: var(--text-color);
    line-height: 0.8;
}

/******************************** Story IGNIS ********************************/
.container-story {
    margin-top: 15%;
    width: 100%;
    position: relative;
}

.col-story1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.container-storypara1 {
    font-size: 22px;
    width: 80%;
    color: var(--text-color);
    line-height: 1.5;
    text-indent: 10%;
    text-align: justify;
}

.paragraph1 span {
    font-weight: bold;
    font-size: 40px;
    color: var(--primary-color);
}

.container-storypic1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.content-pic1,
.content-pic2 {
    width: 80%;
    height: 100%;
    object-fit: cover;
}

.col-story2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.container-storypara2 {
    margin-top: 20%;
    font-size: 22px;
    width: 80%;
    color: var(--text-color);
    line-height: 1.5;
    text-indent: 10%;
    text-align: justify;
}


.container-storypic2 {
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}


/******************************** FFQ Content ********************************/
.container_FFQ {
    margin-top: 15%;
    width: 100%;
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headTopic_FFQ {
    color: var(--text-color);
}

.intro_FFQ {
    margin-top: 20px;
    font-size: 22px;
    width: 78%;
    text-align: center;
    color: var(--text-color);
}

.content_FFQ {
    margin-top: 2.5%;
    width: 100%;
}

.paragraph_Flexible,
.paragraph_Friendly,
.paragraph_Quality {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}

.topic_Flexible,
.topic_Friendly,
.topic_Quality {
    width: 100%;
    text-align: center;
    color: var(--text-color);
}

.story_Flexible,
.story_Friendly,
.story_Quality {
    font-size: 22px;
    width: 80%;
    text-align: center;
    color: var(--text-color);
}

.outro_FFQ {
    margin-top: 2.5%;
    font-size: 22px;
    width: 50%;
    text-align: center;
    color: var(--text-color);
}

/******************************** 2 Type, 4 Theme ********************************/
.container_2Type {
    margin-top: 15%;
    width: 100%;
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.topic_2Type {
    color: var(--text-color);
}

.firePic_2Type_Container, .pixelLightPic_2Type_Container {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.firePic_2Type {
    width: 55%;
    object-fit: cover;
}
.pixelLightPic_2Type {
    width: 65%;
    object-fit: cover;
}
.topic_Fire_Container, .topic_PixelLight_Container {
    margin-top: 3%;
    font-size: 32px;
    text-align: center;
    color: var(--text-color);
}
.content_Fire_Container, .content_PixelLight_Container {
    margin-top: 2%;
    font-size: 22px;
    text-align: center;
    color: var(--text-color);
}
.content_Fire_Paragrahp, .content_PixelLight_Paragrahp {
    width: 75%;
    margin: 0 auto;
}

/******************************** Customers ********************************/
.container_Customers {
    margin-top: 15%;
    width: 100%;
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.topic_Customers {
    color: var(--text-color);
}
.customers_Pic_Container{
    margin-top: 1.5%;
    display: flex; 
    overflow: hidden;
    position:relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.customers_Pic_Slider {
    display: flex;
    width: calc(200%); /* 2 เท่าของ container */
    animation: scroll-left 20s linear infinite;
}
.customers_Pic {
    width: 100%; /* กว้างเท่ากับ container */
    height: 100%;
    object-fit: contain;
}
@keyframes scroll-left {
   0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%); /* เลื่อนเท่ากับความกว้างของภาพเดียว */
    }
}