@import url('style.css');

/********************* Performance Intro *********************/
.performance-Intro {
    width: 100%;
    margin-top: 2rem;
    padding: 0 1.5rem;
}

.performance-Intro p {
    font-size: 20px;
    color: var(--text-color);
    line-height: 1.5;
    text-align: justify;
    text-indent: 15%;
}

/********************* Fire & Pixel Light performance Content *********************/
.fireperformance-Container,
.pixellightperformance-Container {
    width: 100%;
    margin-top: 3rem;
    box-sizing: border-box;
    padding: 0 1.5rem;
}

.fireperformance-Topic h2,
.pixellightperformance-Topic h2 {
    position: relative;
    font-size: 26px;
    font-weight: bold;
    color: var(--text-color);
    padding: 0 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.fireperformance-Topic h2::before,
.fireperformance-Topic h2::after {
    content: "";
    display: block;
    height: 2px;
    width: 125px;
    background: linear-gradient(to right, transparent, var(--primary-color), transparent);
    border-radius: 1px;
}

.pixellightperformance-Topic h2::before,
.pixellightperformance-Topic h2::after {
    content: "";
    display: block;
    height: 2px;
    width: 125px;
    background: linear-gradient(to right, transparent, var(--primary-color), transparent);
    border-radius: 1px;
}

.fireperformance-Topic h2::after,
.pixellighterformance-Topic h2:after {
    background: linear-gradient(to left, transparent, var(--primary-color), transparent);
}

.fireperformance-Content,
.pixellightperformance-Content {
    margin-top: 5%;

}

.fireperformance-PicRowOne,
.pixellightperformance-PicRowOne {
    width: 450vw;
    display: flex;
    overflow: hidden;
    position: relative;
    animation: scroll-right 15s linear infinite;

}

.firePerformance-PicRowTwo,
.pixellightperformance-PicRowTwo {
    width: 450vw;
    display: flex;
    overflow: hidden;
    position: relative;
    animation: scroll-left 15s linear infinite;

}

.fireperformance-PicRowOne img,
.firePerformance-PicRowTwo img,
.pixellightperformance-PicRowOne img,
.pixellightperformance-PicRowTwo img {
    width: 70vw;
    height: 150px;
    object-fit: cover;
    margin-right: 20px;
    flex-shrink: 0;
}

/* .firePerformance_PicRow1 {
    animation: scroll-right 10s linear infinite;
    width: 200vw;
} */

@keyframes scroll-right {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-224vw);
    }
}

@keyframes scroll-left {
    0% {
        transform: translateX(-224vw);
    }

    100% {
        transform: translateX(0);
    }
}

.firePerformance-PicRowTwo,
.pixellightperformance-PicRowTwo {
    margin-top: 5%;
}

.fireperformance-Paragraph,
.pixellightperformance-Paragraph {
    margin-top: 5%;
    text-align: center;
}

.fireperformance-Paragraph p,
.pixellightperformance-Paragraph p {
    font-size: 20px;
    color: var(--text-color);
    line-height: 1.5;
}

.fireperformance-Button,
.pixellightperformance-Button {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fireperformance-Button a,
.pixellightperformance-Button a {
    font-size: 20px;
    color: var(--primary-color);
    padding: 0.5rem;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    text-decoration: none;
}

/*********************** Tablets ***********************/
@media only screen and (min-width: 768px) and (max-width: 1023px) {

    /********************* Performance Intro *********************/
    .performance-Intro p {
        font-size: 24px;
    }

    /********************* Fire & Pixel Light performance Content *********************/
    .fireperformance-Container,
    .pixellightperformance-Container {
        margin-top: 10%;
    }

    .fireperformance-Topic h2,
    .pixellightperformance-Topic h2 {
        font-size: 32px;
    }

    .fireperformance-Topic h2::before,
    .fireperformance-Topic h2::after {
        width: 225px;
        border-radius: 2px;
    }

    .pixellightperformance-Topic h2::before,
    .pixellightperformance-Topic h2::after {
        width: 325px;
        border-radius: 2px;
    }

    .fireperformance-PicRowOne,
    .pixellightperformance-PicRowOne {
        width: 320vw;
    }

    .firePerformance-PicRowTwo,
    .pixellightperformance-PicRowTwo {
        width: 320vw;
    }

    .fireperformance-PicRowOne img,
    .firePerformance-PicRowTwo img,
    .pixellightperformance-PicRowOne img,
    .pixellightperformance-PicRowTwo img {
        width: 50vw;
        height: 200px;
    }

    /* .firePerformance_PicRow1 {
    animation: scroll-right 10s linear infinite;
    width: 200vw;
    } */

    @keyframes scroll-right {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-158vw);
        }
    }

    @keyframes scroll-left {
        0% {
            transform: translateX(-158vw);
        }

        100% {
            transform: translateX(0);
        }
    }

    .fireperformance-Paragraph p,
    .pixellightperformance-Paragraph p {
        font-size: 24px;
    }

    .fireperformance-Button,
    .pixellightperformance-Button {
        margin-top: 7.5%;
    }

    .fireperformance-Button a,
    .pixellightperformance-Button a {
        font-size: 24px;
    }
}

/*********************** Small desktops/laptops ***********************/
@media only screen and (min-width: 1024px) and (max-width: 1279px) {

    /********************* Performance Intro *********************/
    .performance-Intro {
        padding: 0 3rem;
        margin-top: 10%;
    }

    .performance-Intro p {
        font-size: 24px;
    }

    /********************* Fire & Pixel Light performance Content *********************/
    .fireperformance-Container,
    .pixellightperformance-Container {
        margin-top: 10%;
        padding: 0 3rem;
    }

    .fireperformance-Topic h2,
    .pixellightperformance-Topic h2 {
        font-size: 40px;
    }

    .fireperformance-Topic h2::before,
    .fireperformance-Topic h2::after {
        height: 3px;
        width: 450px;
        border-radius: 1px;
    }

    .pixellightperformance-Topic h2::before,
    .pixellightperformance-Topic h2::after {
        height: 3px;
        width: 600px;
        border-radius: 1px;
    }

    .fireperformance-Content {
        margin-top: 5%;
    }

    .fireperformance-Content .fireperformance-Paragraph p,
    .pixellightperformance-Content .pixellightperformance-Paragraph p {
        font-size: 24px;
    }

    .fireperformance-PicRowOne,
    .pixellightperformance-PicRowOne {
        width: 260vw;
    }

    .firePerformance-PicRowTwo,
    .pixellightperformance-PicRowTwo {
        width: 260vw;
    }

    .fireperformance-PicRowOne img,
    .firePerformance-PicRowTwo img,
    .pixellightperformance-PicRowOne img,
    .pixellightperformance-PicRowTwo img {
        width: 40vw;
        height: 200px;
    }

    @keyframes scroll-right {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-125vw);
        }
    }

    @keyframes scroll-left {
        0% {
            transform: translateX(-125vw);
        }

        100% {
            transform: translateX(0);
        }
    }

    .fireperformance-Button,
    .pixellightperformance-Button {
        margin-top: 10%;
    }

    .fireperformance-Button a,
    .pixellightperformance-Button a {
        font-size: 26px;
        padding: 0.75rem;
    }

    .fireperformance-Button a:hover,
    .pixellightperformance-Button a:hover {
        background-color: var(--primary-color);
        color: var(--text-color);
        transition: 0.4s ease;
    }

}

/*********************** Large desktops ***********************/
@media only screen and (min-width: 1280px) {}