@import url('style.css');

/************************ Pixel Light performance images Topic*****************************/

/******************* Pixel Light performance Video *******************/
.pixellightvideo-Container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    padding: 0 1.5rem;
}

.pixellightvideo-Container iframe {
    width: 480px;
    height: 215px;
}

/********************* Gallery *********************/
.gallery-Grid {
    width: 100%;
    margin-top: 20%;
    box-sizing: border-box;
    padding: 0 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
}

.gallery-Grid img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 0 8px 5px rgba(244, 146, 49, 0.4);
    transition: transform .3s ease;
}

.gallery-Grid img:last-child:nth-child(odd) {
    grid-column: 1 / span 2;
    max-width: 70%;
    justify-self: center;
}

/************************ Tablet ************************/
@media only screen and (min-width: 768px) and (max-width: 1023px) {

    /************************Pixel Light performance images Topic*****************************/

    /******************* Pixel Light performance Video *******************/
    .pixellightvideo-Container {
        padding: 0 2rem;
    }

    .pixellightvideo-Container iframe {
        width: 640px;
        height: 360px;
    }


    /********************* Gallery *********************/
    .gallery-Grid {
        margin-top: 10%;
        padding: 0 2.5rem;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }

    .gallery-Grid img {
        width: 100%;
        border-radius: 15px;
    }

    .gallery-Grid img:last-child:nth-child(odd) {
        grid-column: auto;
        max-width: 100%;
        justify-self: auto;
    }

}

/*********************** Small desktops/laptops ***********************/
@media only screen and (min-width: 1024px) and (max-width: 1279px) {

    /******************* Fire performance Video *******************/
    .pixellightvideo-Container {
        padding: 0 2rem;
    }

    .pixellightvideo-Container iframe {
        width: 780px;
        height: 440px;
    }

    /********************* Gallery *********************/
    .gallery-Grid {
        margin-top: 10%;
        padding: 0 3rem;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .gallery-Grid img {
        border-radius: 20px;
    }

    .gallery-Grid img:last-child:nth-child(odd) {
        grid-column: auto;
        max-width: 100%;
        justify-self: auto;
    }
}

/*********************** Large desktops ***********************/
@media only screen and (min-width: 1280px) {

    /******************* Fire performance Video *******************/
    .pixellightvideo-Container {
        padding: 0 2rem;
    }

    .pixellightvideo-Container iframe {
        width: 780px;
        height: 440px;
    }

    /********************* Gallery *********************/
    .gallery-Grid {
        margin-top: 10%;
        padding: 0 3rem;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .gallery-Grid img {
        aspect-ratio: 16 / 9;
        border-radius: 20px;
    }

    .gallery-Grid img:last-child:nth-child(odd) {
        grid-column: auto;
        max-width: 100%;
        justify-self: auto;
    }
}