@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Serif 4", serif;
    scroll-behavior: smooth;
}

html,
body {
    background-color: var(--secondary-color);
    overflow-x: hidden;

}

:root {
    --primary-color: #F49231;
    --secondary-color: #000000;
    --text-color: #FFFFFF;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

/******************************* Navbar *******************************/
nav {
    background-color: var(--primary-color);
}

.nav-con {
    height: auto;
    position: relative;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem;
}

.nav-con .logo img {
    margin-left: 5%;
    width: 75px;
    height: 55px;
}

.menu {
    list-style: none;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--primary-color);
    opacity: 0;
    transform: translateY(-15px);
    transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    z-index: 1000;
    padding: 0;
    max-height: 0;
    overflow: hidden;
}

.menu li {
    margin: 1.5rem 0;
    padding: 0rem 2rem;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.3s ease 0.1s;
}

.menu li:first-child {
    border-top: none;
}

.menu-active li {
    opacity: 1;
    transform: translateY(0);
}

.menu-active li:nth-child(1) {
    transition-delay: 0.1s;
}

.menu-active li:nth-child(2) {
    transition-delay: 0.15s;
}

.menu-active li:nth-child(3) {
    transition-delay: 0.2s;
}

.menu-active li:nth-child(4) {
    transition-delay: 0.25s;
}

.menu li a {
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.7);
    color: var(--text-color);
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.25s ease;
    display: block;
}

/* .menu li a:hover {
    color: var(--secondary-color);
    transform: translateX(8px);
} */

/********** Hamburger Menu **********/
.ham-menu {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    margin-top: 10px;
    right: 1rem;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.menu-active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    max-height: 300px;
}

/********************* Topic *********************/
.performance-Topic,
.contact-Topic,
.firepic-Topic,
.pixellightpic-Topic {
    width: 100%;
    height: 250px;
    margin-top: 5%;
    position: relative;
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.performance-Topic::before,
.contact-Topic::before,
.firepic-Topic::before,
.pixellightpic-Topic::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../images/fire_14.JPG');
    background-size: cover, cover;
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
    opacity: 0.5;
    z-index: 1;
}

.performance-Topic span,
.contact-Topic span,
.firepic-Topic span,
.pixellightpic-Topic span {
    position: relative;
    font-size: 36px;
    font-weight: bold;
    color: var(--text-color);
    line-height: 1.2;
    z-index: 2;
}

.contact-Topic span {
    font-size: 50px;
}

/******************************** Footer ********************************/
footer {
    margin-top: 20%;
    height: 130px;
}

.footer-Icons-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    /* ระยะห่างระหว่างโลโก้ */
    margin-bottom: 8px;
}

.facebook-Button img,
.whatapps-Button img {
    width: 25px;
    height: 25px;
}

.gmail-Button img {
    width: 35px;
    height: 30px;

}

.footer-text-Container p {
    font-size: 12px;
    margin-top: 1%;
    text-align: center;
    color: var(--text-color);
}

/*********************** Tablets ***********************/
@media only screen and (min-width: 768px) and (max-width: 1023px) {

    /******************************* Navbar *******************************/
    .nav-con .logo img {
        width: 85px;
        height: 65px;
    }

    .menu li a {
        font-size: 20px;
    }

    /* .menu li a:hover {
    color: var(--secondary-color);
    transform: translateX(8px);
    } */

    /********** Hamburger Menu **********/
    .ham-menu {
        margin-top: 10px;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 40px;
        height: 6px;
    }

    .change .bar1 {
        transform: translate(0, 12px) rotate(-45deg);
    }

    .change .bar3 {
        transform: translate(0, -12px) rotate(45deg);
    }

    /********************* Topic *********************/
    .performance-Topic,
    .contact-Topic,
    .firepic-Topic,
    .pixellightpic-Topic {
        height: 300px;
        margin-top: 10%;
    }

    .performance-Topic span,
    .contact-Topic span,
    .firepic-Topic span,
    .pixellightpic-Topic span {
        font-size: 55px;
        line-height: 1;
    }

    .contact-Topic span {
        font-size: 65px;
    }

    /******************************** Footer ********************************/
    footer {
        margin-top: 10%;
        height: 130px;
    }

    .footer-Icons-Container {
        gap: 3%;
        /* ระยะห่างระหว่างโลโก้ */
        margin-bottom: 10px;
    }

    .facebook-Button img,
    .whatapps-Button img {
        width: 30px;
        height: 30px;
    }

    .gmail-Button img {
        width: 40px;
        height: 35px;
    }

    .footer-text-Container p {
        font-size: 16px;
    }
}

/*********************** Small desktops/laptops ***********************/
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
    /******************************* Navbar *******************************/

    .nav-con {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 1.5rem;
        height: 120px;
    }

    .nav-con .logo img {
        width: 110px;
        height: 90px;
    }

    .ham-menu {
        display: none;
    }

    .menu {
        position: static;
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        max-height: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
    }

    .menu li{
        margin: 0;
        padding: 0 1rem;
        opacity: 1;
        transform: translateY(0);
    }

    .menu li a {
        font-size: 24px;
        border: none;
    }

    /************************ Footer ************************/
    footer {
        margin-top: 10%;
        height: 175px;
    }

    .footer-Icons-Container {
        gap: 3%;
        /* ระยะห่างระหว่างโลโก้ */
        margin-bottom: 10px;
    }

    .facebook-Button img,
    .whatapps-Button img{
        width: 45px;
        height: 45px;
    }

    .gmail-Button img {
        width: 50px;
        height: 45px;
    }

    .footer-text-Container p {
        font-size: 22px;
    }
}

/*********************** Large desktops ***********************/
@media only screen and (min-width: 1280px) {}