<div class="footer-Icons ">
    <a href="#" class="facebook_Button">
        <img src="images/Facebook_Logo_Primary.png" class="facebook_Icon" alt="Facebook">
    </a>
    <a href="#" class="gmail_Button">
        <img src="images/Gmail_Icon.original.png" class="gmail_Icon" alt="Gmail">
    </a>
    <a href="#" class="whatapps_Button">
        <img src="images/Print_Glyph_Green.png" class="whatapps_Icon" alt="WhatsApp">
    </a>
</div>
<div class="row align-item-start">
    <p class="footer_text">© 2025 IGNIS Fire and Pixel Light performance.<br>All rights reserved.
    </p>
</div>