<div class="footer-Icons-Container">
    <a href="#" class="facebook-Button">
        <img src="images/Facebook_Logo_Primary.png" alt="Facebook">
    </a>
    <a href="#" class="gmail-Button">
        <img src="images/Gmail_Icon.original.png" alt="Gmail">
    </a>
    <a href="#" class="whatapps-Button">
        <img src="images/Print_Glyph_Green.png" alt="WhatsApp">
    </a>
</div>
<div class="footer-text-Container">
    <p>© 2025 IGNIS Fire and Pixel Light performance.<br>All rights reserved.
    </p>
</div>