<div class="container">
    <div class="nav-con">
        <div class="logo">
            <img src="/images/cropped-image.png" alt="IGNIS Logo">
        </div>
        <ul class="menu" id="navMenu">
            <li><a href="../index.html">Home</a></li>
            <li><a href="../performance.html">Performance</a></li>
            <li><a href="../contact.html">Contact</a></li>
        </ul>
        <div class="ham-menu" onclick="hamMenuFunction(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
    </div>
</div>